
.achieve{
    height: 50px;
    margin: 20px 160px;
    background: #ef2f5d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 10px 10px;
    border-radius: 15px;
}

.description_achieve{
    text-decoration: underline;
}

.value_achieve{
    width: auto;
    text-align: center;
}